@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100px;
}
.liste ul {
  display: flex;
  gap: 10px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #9ae17b;
  padding: 10px;
  background-color: black;
}
li {
  list-style: none;
  border: 1px solid #9ae17b;
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  background-color: #9ae17b;
  color: white;
  font-weight: 900;
}
.formulaire {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 6px 6px 2px 1px rgba(159, 204, 187, 0.5);
  border: 1px solid gray;
  background-color: #9ae17b;
}
label {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
button {
  border: none;
  margin-top: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
form h3 {
  text-align: center;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  background-color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Bungee Spice", cursive;
}
input[type="number"],
input[type="text"] {
  outline: none;
  background-color: antiquewhite;
  border: none;
  height: 30px;
  margin-bottom: 8px;
}
.boutons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reset {
  background-color: brown;
}
::placeholder {
  font-style: italic;
  font-size: 15px;
  margin-top: auto;
  text-indent: 10px;
}
.boutons button {
  font-size: 1rem;
  border-radius: 2px;
  width: 40%;
}
.result {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-start;
  height: 80px;
  background-color: #9ae17b;
  flex-direction: column;
  color: white;
  font-weight: 900;
  padding: 10px 10px 10px 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.nav a {
  color: #9ae17b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  border: 1px solid #9ae17b;
  padding: 7px;
  border-radius: 5px;
}
.nav a:hover {
  background-color: #9ae17b;
  color: black;
}

li:hover {
  background-color: black;
  border: 1 px solid #9ae17b;
}
.calculer,
.reset {
  padding: 15px;
  font-weight: 900;
}
.pied {
  background-color: black;
  height: 60px;
  color: #9ae17b;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}
